# Archivos generados por Visual Studio
.vs/
*.user
*.suo
*.cache
*.log
*.sqlite
*.db

# Archivos de compilación
bin/
obj/
!obj/**/*.gitkeep

# Archivos de configuración y dependencias
*.nuget.cache
*.nuget.dgspec.json
*.nuget.props
project.assets.json
project.nuget.cache
packages/
